{% extends 'base.html.twig' %}

{% block title %}Todo App{% endblock %}
{% block body %}

    {% if todos | length == 0 %}
        No todo for now!
    {% else %}

        <div class="accordion" id="accordionExample">
        {% for todo in todos %}

            {#<div class="row todo-item pt-2 pb-2">#}
                {#<div class="col-12 col-lg-8">#}
                    {#<span class="status {% if todo.status == 'Pending' %} done {% endif %}"></span>#}
                    {#<span class="font-weight-bold">{{ todo.name }}</span>#}
                    {#<div class="description mt-2 mb-2 pl-4">#}
                        {#{{ todo.description }}#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-12 col-lg-4">#}
                    {#<span>Date: {{ todo.createData | date("m/d/Y") }}</span>#}
                {#</div>#}
            {#</div>#}

            <div class="card">
                <div class="card-header" id="headingOne">

                        <div class="btn btn-link collapser d-block p-2 text-left" type="button" data-toggle="collapse" data-target="#collapseOne{{ loop.index }}"
                                aria-expanded="{% if loop.first %}true{% endif %}" aria-controls="collapseOne{{ loop.index }}">
                            <span class="status {% if todo.status == 'Pending' %} done {% endif %}"></span>
                            <span class="todo-name">{{ todo.name }}</span>
                        </div>

                </div>

                <div id="collapseOne{{ loop.index }}"
                     class="collapse {% if loop.first %}show{% endif %}"
                     aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="card-body">
                        {{ todo.description }}
                        <br/>
                        <span>Date: {{ todo.createData | date("m/d/Y") }}</span>
                        <hr/>
                        <ul class="nav text-right">
                            <li class="mr-4 d-inline-block"><a href="/todo-edit/{{ todo.id }}">Edit</a></li>
                            <li class="mr-4 d-inline-block"><a href="/edit/{{ todo.id }}">Close</a></li>
                            <li class="mr-4 d-inline-block"><a href="/delete/{{ todo.id }}">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>

    {% endif %}
{% endblock %}