{% extends 'base.html.twig' %}

{% block body %}

    {#{{ form(form) }}#}

    {{ form_start(form) }}

    {{ form_errors(form.priority) }}
    <div class="row">
        <div class="col-12">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-success p-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {#{{ form_label(form.priority, 'Please set the priority') }}#}
            {#{{ form_row(form.priority, { "label": false }) }}#}
            {{ form_row(form.priority) }}
        </div>
        <div class="col-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-6">
            {{ form_row(form.status) }}
        </div>
        <div class="col-6">
            {#{{ form_row(form.dateCreation) }}#}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}